
/*a {color:#666;vertical-align:baseline;text-decoration:none;font-size:100%;-webkit-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;}*/
/*a:hover,a:focus,a:active {color:#398E9F;text-decoration:none;cursor:pointer;outline: 0}*/
/*.left {float:left;}*/
/*.right {float:right;}*/

/**/.in_box {border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.post_box {overflow:hidden;list-style:none;border:1px solid #eaeaea;margin-bottom:-1px;border-left:solid 4px #fff;background-color:#fff;position:relative;.post_box .post-img}
.home-layout .post_box {margin:10px 0;border-radius:2px;box-shadow:0 1px 5px rgba(0,0,0,0.1);}
.post_box .news {background:url(images/new.png);position:absolute;width:51px;height:51px;right:-3px;top:-5px;z-index:9;}
.post_box .post-top {background:url(images/top.png);position:absolute;width:51px;height:51px;right:-3px;top:-5px;z-index:9;}
.in_box .post_box {position:relative;}
.post_box .zd {font-size:18px;margin-top:10px;padding-left:15px;padding-right:15px}
.post_box .zd span {color:#f00;padding-right:5px}
.post_box .zd a {transition:margin-left .3s;-moz-transition:margin .3s;-webkit-transition:margin .3s;-o-transition:margin .3s}
.post_box .zd a:hover {margin-left:6px}
.post_box .zd small {padding-left:8px}
.post_box:last-child {margin-bottom:0}
.post_box:hover {background-color:#F8FCFE;z-index:2;position:relative;border-left-color:#2F889A;}
.home-layout .post_box:last-child {margin-bottom:1px;}
.post_box .post-img {margin:15px 15px 15px 12px;height:165px;overflow:hidden;border:1px solid transparent;display: inline-block}
.post_box .post-img a {position:relative;display:inline-block;_zoom:1;_display:inline;}
.post_box .post-img a em {*display:none;position:absolute;left:-341px;top:0;width:313px;height:185px;background-image:linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));background-image:-moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));background-image:-webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));background-image:-o-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));background-image:-ms-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));transform:skewx(-25deg);-o-transform:skewx(-25deg);-moz-transform:skewx(-25deg);-webkit-transform:skewx(-25deg);-moz-transition:0s;-o-transition:0s;-webkit-transition:0s;transition:0s;cursor:pointer}
.post_box .post-img a:hover em {left:270px;transition:.7s;-moz-transition:.7s;-o-transition:.7s;-webkit-transition:.7s}
.post_box .post-img .imgs {width:260px;height:165px;-webkit-transition:-webkit-transform .3s linear;-moz-transition:-moz-transform .3s linear;-o-transition:-o-transform .3s linear;transition:transform .3s linear;}
.img-rounded {border-radius:0}
.post_box .post-con {height:96px;overflow-y:hidden;color:#555;line-height:24px;word-break:break-word;}
.post_box .item-meta {color:#999;font-size:12px;margin-top:8px;position:relative;}
.post_box .item-meta a {color:#999;}
.post_box .item-meta span {padding-right:15px;white-space:nowrap;max-width:35%;overflow:hidden;display:inline-block}
.post_box .item-meta span i,.multiinfo i.fa {padding-right:5px;font-size:1.2em;}
.post_box .tags i {padding-right:5px;color:#a6a6a6}
.post_box .post-left {margin:8px 0 0 0;width:100%;display:inline-block;}
.post_box:hover .imgs {-webkit-transform:scale(1.08);-ms-transform:scale(1.08);transform:scale(1.08);-webkit-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;}
.post_box .post-left h3 {white-space:nowrap;text-overflow:ellipsis;overflow:hidden;height:40px;line-height:35px;font-size:20px;font-weight:500;border-bottom:1px solid #eee;padding-bottom:5px;margin-bottom:7px;}
.post_box .post-left h3 a {transition:margin-left .3s;-moz-transition:margin .3s;-webkit-transition:margin .3s;-o-transition:margin .3s}
.post_box.multi h3 a:hover, .post_box .post-left h3 a:hover {color:#22aeec;text-decoration:none;margin-left:8px;}
.post_box .post-left h3 a:focus {text-decoration:none}

.widget-box .post_box_title {background-color:#fff;overflow:hidden;list-style:none;border:1px solid #eaeaea;margin:-1px 0;border-left:solid 1px #FFFFFF;}
.widget-box .post_box_title h3 {font-size:18px;float:left;line-height:45px;font-weight:400;color:#2F889A;position:relative;height:45px;margin:0px 20px;border-bottom:2px solid #2F889A;}
.widget-box .post_box_title i.fa {margin-right:5px;}
.home-layout .post_box_title {background-color:#fff;overflow:hidden;list-style:none;font-size:18px;line-height:45px;font-weight:400;color:#2F889A;position:relative;height:45px;padding:0px 20px;margin-bottom:-11px;}
.widget-box.home-layout {border:1px solid transparent;background:transparent;box-shadow:0 0px 0px transparent;}
.widget-box.blog-layout {margin-bottom:20px;}
